
@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <td>@Html.ActionLink("Спални","Spalni","Products",new { area="Admin"},new {@class="btn btn-info"}) </td>

    </tr>
    <tr>
        <td>@Html.ActionLink("Детски комплекти", "Detski", "Products", new { area = "Admin" }, new { @class = "btn btn-info" }) </td>

    </tr>
    <tr>
        <td>@Html.ActionLink("Секции", "Sekcii", "Products", new { area = "Admin" }, new { @class = "btn btn-info" }) </td>

    </tr>
    <tr>
        <td>@Html.ActionLink("Портманта", "Portmanta", "Products", new { area = "Admin" }, new { @class = "btn btn-info" }) </td>

    </tr>
    <tr>
        <td>@Html.ActionLink("Кухни", "Kuhni", "Products", new { area = "Admin" }, new { @class = "btn btn-info" }) </td>

    </tr>
    <tr>
        <td>@Html.ActionLink("Маси", "Masi", "Products", new { area = "Admin" }, new { @class = "btn btn-info" }) </td>

    </tr>
</table>

